

.checkout {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 20px;
  background-color: #6b6;
  color: #fff;
  font-size: 15px;
  border-radius: 3px;
  text-decoration: none;
}

.checkout:hover {
  background-color: #494;
}
.cancelar{
  float: left;
  border: 0;
  margin-top: 20px;
  padding: 6px 20px;
  background-color: #f44336;
  color: #fff;
  font-size: 15px;
  border-radius: 3px;
  text-decoration: none;
}

.cancelar:hover {
  background-color: rgb(202, 42, 42);
}

